n8n/generate_message_flow.json
{
  "name": "generate_message_flow",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "=gpt-3.5-turbo",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.system_prompt }}",
              "role": "system"
            },
            {
              "content": "={{ $json.user_prompt }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1000,
        -60
      ],
      "id": "863c5233-141f-414d-814d-ac3bd037e98f",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "At7HnG7ZpYgYQcMz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"input_prompt\": $json.input_prompt, \"generated_message\": $json.generated_message } }}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        1400,
        -60
      ],
      "id": "32e75cbe-24e2-456d-a492-8479c462db40",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "tableId": "message-logs",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "execution_id",
              "fieldValue": "={{ $execution.id }}"
            },
            {
              "fieldId": "input_prompt",
              "fieldValue": "={{ $('format_promt').item.json.user_prompt }}"
            },
            {
              "fieldId": "generated_message",
              "fieldValue": "={{ $json.message.content.message }}"
            },
            {
              "fieldId": "ip",
              "fieldValue": "={{ $('request_handler').item.json.headers['x-real-ip'] }}"
            },
            {
              "fieldId": "user_agent",
              "fieldValue": "={{ $('request_handler').item.json.headers['user-agent'] }}"
            },
            {
              "fieldId": "device_id",
              "fieldValue": "={{ $('request_handler').item.json.headers.device_id }}"
            },
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('request_handler').item.json.body.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1180,
        -60
      ],
      "id": "ce8f5586-74c2-47b3-98ff-bec7410a289f",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "6d8ZVF0oT6e7YXnK",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "11ddcba2-4fc2-4b4b-8ddc-496215684ec7",
              "name": "system_prompt",
              "value": "You are an emotionally aware assistant that helps users generate thoughtful breakup closure letters. Write in first person (I), 150–300 words, and align with the user's tone. Integrate emotional complexity with honesty. Acknowledge forgiveness, sadness, or anger respectfully. Never include names unless explicitly provided. End with an emotionally appropriate closing line.",
              "type": "string"
            },
            {
              "id": "7b6883cc-219a-4088-8a96-b399f5167e97",
              "name": "user_prompt",
              "value": "=Please generate a breakup message using the following structured inputs:\nRecipient Name: {{$json.body.recipient}}\nMessage Type: {{$json.body.messageType}}\nAdditional Notes from User: {{$json.body.additionalNotes}}\nUser Answers:\n{{ $json.body.answers.map(answer => `${answer.question} \\n->  ${answer.customInput || answer.selectedOption || '(not answered)'} \\n`).join('\\n')\n}}\nInstructions:\n- Use the answers to inform tone, emotional content, and closure.\n- If both selectedOption and customInput exist, prefer customInput.\n- If tone is unspecified, default to honest and respectful.\n- Avoid raw profanity or cruelty, even if the user is upset.\n- Keep the message emotionally grounded and cathartic.\n- Only mention the recipient's name once (if needed).\n- End with a meaningful and emotionally fitting closing sentence.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        780,
        -60
      ],
      "id": "792af331-5c15-445a-99d2-a5e04dec08ed",
      "name": "format_promt"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "generate-message",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {
          "ignoreBots": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        120,
        120
      ],
      "id": "7759f864-bd04-4b79-949c-7d00cca2568d",
      "name": "request_handler",
      "webhookId": "9921c223-6b7d-46c4-a4af-b3ca477f7d3e",
      "credentials": {
        "httpHeaderAuth": {
          "id": "qrItJybgwyX7i6UU",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "subscription",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $json.body.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        340,
        120
      ],
      "id": "38326c0a-edd6-403c-afc2-6440fb599e40",
      "name": "get_subscription",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "6d8ZVF0oT6e7YXnK",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "75554925-b791-4da1-aa3a-3ea22d423ef4",
              "leftValue": "={{ $json.user_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "9f73b7bf-4217-44c5-9432-6ea82642d142",
              "leftValue": "={{ $json.expires_at }}",
              "rightValue": "={{ $now}}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            },
            {
              "id": "0aa02598-fd7f-4dab-bb58-adcbc4cf7fd0",
              "leftValue": "={{ $json.is_active }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        120
      ],
      "id": "1df6cb46-d1f0-499b-bfd5-ce658cb03bdf",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"success\": false, \"error\": \"you dont have subscription\"}",
        "options": {
          "responseCode": 404
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        820,
        300
      ],
      "id": "db8f720b-04d7-4b58-9f25-ebd16e95b714",
      "name": "not_exist_subscriotipn_response"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format_promt": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "request_handler": {
      "main": [
        [
          {
            "node": "get_subscription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_subscription": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "format_promt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "not_exist_subscriotipn_response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "62b9d882-feb7-4daf-90c9-c30eb679d5e8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "219b07b4b7dd08de6fd6d6314e06749691f665bbe78c89182a03b33aee831d29"
  },
  "id": "Dw8kvp7vQTINzNJz",
  "tags": []
}