n8n/subscription_flow.json
{
  "name": "subscription_flow",
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"expires_at\": {{ $json.expires_at.toJsonString() }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        1020,
        0
      ],
      "id": "4b3bb227-66bd-4d0c-a30d-6bfc12700078",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "tableId": "subscription",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $('add_subscription_request').item.json.body.user_id }}"
            },
            {
              "fieldId": "product",
              "fieldValue": "={{ $('add_subscription_request').item.json.body.product }}"
            },
            {
              "fieldId": "price",
              "fieldValue": "={{ $('add_subscription_request').item.json.body.price }}"
            },
            {
              "fieldId": "currency",
              "fieldValue": "={{ $('add_subscription_request').item.json.body.currency }}"
            },
            {
              "fieldId": "is_active",
              "fieldValue": "true"
            },
            {
              "fieldId": "expires_at",
              "fieldValue": "={{ $json.expires_at }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        800,
        0
      ],
      "id": "1f381c85-b6d1-4238-8ede-e436407135ca",
      "name": "Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "6d8ZVF0oT6e7YXnK",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const product_type = $input.first().json.body.product; \nconsole.log($input.first().json.body);\n\nconst now = new Date();\nlet daysToAdd = 0;\n\nswitch (product_type) {\n  case \"com.unsentpro.weekly\":\n    daysToAdd = 7;\n    break;\n  case \"com.unsentpro.monthly\":\n    daysToAdd = 30;\n    break;\n  case \"com.unsentpro.yearly\":\n    daysToAdd = 365;\n    break;\n  default:\n    throw new Error(`Unknown subscription type ${product_type}`);\n}\n\nconst expireDate = new Date(now.getTime() + daysToAdd * 24 * 60 * 60 * 1000);\nexpireDate.setHours(23, 59, 59, 999);\n\nreturn { expires_at: expireDate };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "id": "f904b6bc-bfaa-4416-971c-8c519bf13d69",
      "name": "calculate_expire_date"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "subscription",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $json.query.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        480,
        180
      ],
      "id": "121bfbe5-5a4a-4f8f-852c-133b750c33a6",
      "name": "get_subscription",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "6d8ZVF0oT6e7YXnK",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "path": "get-subscription",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        140,
        160
      ],
      "id": "76accbf0-abaa-4d7b-9680-a262cb143436",
      "name": "get_subscription_request",
      "webhookId": "a299fd8b-83c6-402a-828d-890a39f0b287",
      "credentials": {
        "httpHeaderAuth": {
          "id": "qrItJybgwyX7i6UU",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "add-subscription",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        140,
        0
      ],
      "id": "bd46acbf-916e-481c-9b81-7fb65ad15b40",
      "name": "add_subscription_request",
      "webhookId": "a299fd8b-83c6-402a-828d-890a39f0b287",
      "credentials": {
        "httpHeaderAuth": {
          "id": "qrItJybgwyX7i6UU",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4a13102d-1892-4d3e-8111-1cf292b879a8",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        800,
        180
      ],
      "id": "db190170-8dbc-4af9-b8f0-d2bfadff6025",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        1060,
        160
      ],
      "id": "b42a5b15-db9f-4cd9-847b-94b98d2f6689",
      "name": "subscription_response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": false, \"error\": \"you dont have subscription\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        1060,
        360
      ],
      "id": "c9c28596-fb48-4a49-9d21-86638972f162",
      "name": "dont_exist_response"
    }
  ],
  "pinData": {},
  "connections": {
    "Supabase": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "calculate_expire_date": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_subscription_request": {
      "main": [
        [
          {
            "node": "get_subscription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_subscription_request": {
      "main": [
        [
          {
            "node": "calculate_expire_date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_subscription": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "subscription_response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "dont_exist_response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d755a111-8b52-453c-acbc-8906d35e5cae",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "219b07b4b7dd08de6fd6d6314e06749691f665bbe78c89182a03b33aee831d29"
  },
  "id": "uTT9XATgYrKwWlJQ",
  "tags": []
}